<p>
  <b>Names:</b>
  <%=h @contactss.names %>
</p>

<p>
  <b>Emails:</b>
  <%=h @contactss.emails %>
</p>

<p>
  <b>Ages:</b>
  <%=h @contactss.ages %>
</p>


<%= link_to 'Edit', edit_contactss_path(@contactss) %> |
<%= link_to 'Back', contactsses_path %>